.app {
  width: 100vw;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
  margin-left: 0;

}

.app img {
  max-width: 150px;
}

.app--main {
  margin-top: 0;

}

body {
  overflow-x: hidden;
}