.home--page {
    width: 100vw;
    height: 63vh;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    background-color: #220bad;

}

.home--page__picture {
    width: 50%;
    height: 100%;
    background-image: url('/pictures/hometop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 6%;
}

.home--page__content {
    width: 50%;
    padding-left: 10%;
    color: white;
    
}

.home--page__content h1 {
    font-size: 3rem;
    margin-bottom: 4%;
}

.button__inscription {
    background-color: #220bad;
    border: 1px solid grey;
    color: grey;

}

.button__connexion {
    background-color: white;
    border: 1px solid #220bad;
}

.home--page__content button {
    padding: 20px;
    margin-right: 20px; 
    margin-top: 5%;
    border-radius: 5px;
}

.banner--compagnies {
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3rem;
}

@media all and (max-width: 1315px) {
    .home--page__picture {
        display: none;
    }

    .home--page__content {
        width: 100%;
        padding-right: 10%;
    }

}