.home--page {
    width: 100vw;
    height: 100%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    background-color: #220bad;

}

.home--page__picture {
    width: 50%;
    height: 50vh;
    background-image: url('/pictures/hometop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 6%;
}
.home--page__content {
    width: 50%;
    padding-left: 10%;
    color: white;
    
}
.home--page__content h1 {
    font-size: 3rem;
    margin-bottom: 4%;
}
.contrats {
    opacity: 0.5;
}

.button--list {
    display: flex;
    align-items: center;
}

.button--list__register button {
    background-color: #220bad;
    border: 1px solid white;
    color: white;
    opacity: 0.5;
}
.button--list__register button:hover {
    opacity: 1;
}
.button__connexion {
    background-color: white;
    border: 1px solid #220bad;
    color: #220bad;
    opacity: 0.9;
    margin-bottom: 4.5%;
}
.button__connexion:hover {
    opacity: 1;
}
.home--page__content button {
    padding: 20px;
    margin-right: 20px; 
    margin-top: 5%;
    border-radius: 5px;
}
.banner--compagnies {
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3rem;
}
.discover--compagnies, .discover--job{
    margin-top: 10%;
    height: 60vh;
    padding-left: 10%;
    padding-right: 7%;
    width: 100vw;
    max-width: 100vw;
}
.discover--compagnies__picture {
    background-image: url('/pictures/compagnies.png');
    background-repeat: no-repeat;
    background-size: contain;

}
.discover--compagnies__content h2, .discover--developer__content h2, .discover--job__content h2 {
    font-size: 2.5rem;
    margin-bottom: 4%;
}
.discover--compagnies__content ul, .discover--developer__content ul, .discover--job__content ul {
    margin-top: 4%;
    padding-left: 2%;
}
.discover--compagnies__content li, .discover--developer__content li, .discover--job__content li {
    list-style-type: disc;
}
.discover--compagnies__content span, .discover--developer__content span, .discover--job__content span {
    font-weight: bold;

}
.button--search--compagnies, .button--search--job {
    text-align: center;
    margin-top: 5%;
}
.button--search--compagnies button, .button--search--job button{
    background-color: white;
    border: 1px solid #220bad;
    color: #220bad;
    border-radius: 5px;
    padding: 10px;
}
.button--search--compagnies button:hover, .button--search--job button:hover {
    color: white;
    background-color: #220bad;
    content: 'eeee';
}
.button--search--déveloper {
    text-align: center;
    margin-top: 5%;
}
.button--search--déveloper button {
    background-color:#220bad;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.button--search--déveloper button:hover {
    border:none;
}
.triangle--top--developer {
    width: 0;
    height: 0;
    border-bottom: 50px solid #220bad;
    border-right: 100vw solid transparent;
}
.triangle--bottom--developer {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100vw solid #220bad;
    border-bottom: -1px solid transparent;
    transform: rotate(180deg);
}
.discover--developer__picture {
    background-image: url('/pictures/dev.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.discover--developer {
    background-color: #220bad ;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}
.discover--job__picture {
    background-image: url('/pictures/job.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.slide--show {
    width: 100%;
    margin-top: 10%;
}
.slide--show h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

@media all and (max-width: 1315px) {
    .home--page__picture {
        display: none;
    }

    .home--page__content {
        width: 100%;
        padding-right: 10%;
    }

}
@media all and (max-width: 992px) {
    .discover--compagnies__picture{
        display: none;
    }
    .discover--developer__picture {
        display: none;
    }
    .discover--job__picture {
        display: none;
    }
}
@media all and (min-width: 993px) {
    .discover--compagnies__picture{
        display: block;
    }
    .discover--developer__picture {
        display: block;
    }
    .discover--job__picture {
        display: block;
    }
}
@media all and (max-width: 570px) {
    .slide--show {
        margin-top: 15%;
    }
}

@media all and (max-width: 539px) {
    .triangle--top--developer, .slide--show h2 {
        margin-top: 30%;
    }
}

@media all and (max-width:483px) {
    .slide--show h2 {
        margin-top: 40%;
    }
}

@media all and (max-width:391px) {
    .triangle--top--developer, .slide--show h2 {
        margin-top: 60%;
    }
}

