.title--modal--inscription {
    margin-bottom: 3rem;
    text-align: center;
}

.form--inscription button {
    background-color: #220bad;
    color: white;
    border: none;
    width: 100%;
    text-align: center;
}

.check--form--false {
    margin-top: 4rem;
    background-color: rgb(238, 78, 78);
    color: white;
    text-align: center;
    padding: 2rem;
}

.api--succes {
    margin-top: 4rem;
    background-color: rgb(5, 117, 5);
    color: white;
    text-align: center;
    padding: 2rem;
}

.api--denied {
    margin-top: 4rem;
    background-color: rgb(238, 78, 78);
    color: white;
    text-align: center;
    padding: 2rem;
}

.regex--email, .regex--password, .check--firstPassword {
    font-size: small;
}

.close--modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close--modal span {
    margin-bottom: 5%;
    background-color: #220bad;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    opacity: 0.5;
}

.close--modal span:hover {
    cursor: pointer;
    opacity: 1;
    
}

.makeStyles-paper-3 {

}


