.navbar--top ul, .navbar--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    color: white;;
}

.navbar--top {
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    background-color: #220bad;
    height: 90px;
    top: 0

}