 .navbar--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    color: white;
}

.navbar--top {
    width: 100vw;
    padding-left: 9%;
    padding-right: 9%;
    position: fixed;
    z-index: 80;
    height: 90px;
    top: 0;
}

.navbar--top ul {
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.navbar--top a:hover {
    color: white;
    text-decoration: none;
}
.navbar--top a {
    color: rgb(197, 197, 197);
}
.navbar--top button {
    border: none;
    color : #220bad;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}
.navbar--black {
    transition: ease-out 1s;
    background-color: black;
}

.MuiButtonBase-root button {
    border: none;
    background-color: white;
}
@media all and (max-width: 1050px) {
    .burger {
        display: block;
    }

    .item--menu {
        display: none;
    }

    .navbar--top ul {
        justify-content: flex-end;
    }
}
@media all and (min-width: 1051px) {
    .burger {
        display: none;
    }

    .item--menu {
        display: block;
    }
}